<div class="window container-outer" 
[hidden]="!visible" 
[ngClass]="{'window container-outer': true, 'windowed': state=='windowed', 'fullscreen': state=='fullscreen'}" 
[style.left.px]="left" 
[style.top.px]="top" 
[style.z-index]="zIndex"
(mousedown)="focus()">
	<div class="window-title" [class.active]="active">
		<div class="pull-right">
			<button class="minimize" (click)="minimize()"><span class="fa fa-minus"></span></button>
	      	<button class="expand" (click)="toggleSize()"><span class="fa fa-square-o"></span></button>
	      	<button class="times" (click)="close()"><span class="fa fa-times"></span></button>
      	</div>
      	<h1>{{content ? content.title : '_'}}</h1>
	</div>
	<div class="window-toolbar">
			<div class="d-flex">
			</div>
		</div>
	<div class="window-content container-inner">
		<ng-container *ngIf="type==windowType.MY_FILES">
			<app-my-files #content></app-my-files>
		</ng-container>
	</div>
	<div class="window-status-bar">{{content ? content.status : '_'}}</div>
</div>