<!--Start Menu-->
<div class="fixed-bottom container-outer start-menu container" [hidden]="!startMenuActive">
	<div class="row">
		<div class="col-2 start-menu-bar">
		</div>
		<div class="col-10">
			<div class="start-menu-item">
				<i class="fa fa-user start-menu-item"></i> Hardware Manager
			</div>
			<div class="start-menu-item">
				<i class="fa fa-folder start-menu-item"></i> My Files
			</div>
			<div class="start-menu-item">
				<i class="fa fa-cog start-menu-item"></i> Settings
			</div>
			<div class="start-menu-hr"></div>
			<div class="start-menu-item">
				<i class="fa fa-power-off start-menu-item"></i> Shut Down...
			</div>
		</div>
	</div>
</div>

<!--Taskbar-->
<div class="fixed-bottom taskbar d-flex justify-content-start">
	<div class="start-menu-button container-outer" id="taskbar-button" [ngClass]="{'active':startMenuActive}" (click)="toggleMenu()">
		<i class="fa fa-bars"></i> Start
	</div>
	<ng-container *ngFor="let window of windows">
		<app-taskbar-item [window]="window" 
		(showWindow)="onShowWindow($event)" 
		(hideWindow)="onHideWindow($event)"
		(onFocus)="onWindowFocused($event)"></app-taskbar-item>
	</ng-container>
	<div class="taskbar-status-bar ml-auto mr-2">
		<div class="align-text-middle"><i class="fa fa-clock-o"></i> {{time | async | date:'M/d/yy hh:mm:ss a'}}</div>
	</div>
</div>