<div class="menu container-outer">
	<div class="menu-title">
		<div class="pull-right">
			<button class="minimize"><span class="fa fa-minus"></span></button>
	      	<button class="expand"><span class="fa fa-square-o"></span></button>
	      	<button class="times"><span class="fa fa-times"></span></button>
      	</div>
      	<h1>Inventory</h1>
	</div>
	<div class="menu-toolbar">
		<div class="d-flex">
			<div class="menu-toolbar-command">
				<u>S</u>ort
			</div>
		</div>
	</div>
	<div class="d-inline-flex flex-wrap container-inner inventory-area" droppable (onDrop)="onItemDrop($event)">
	  <div *ngFor="let inv of inventory" class="p-1 inventory-item" draggable [dragData]="inv" [dragScope]="inv.type">
	  </div>
	</div>
	<div class="menu-status-bar">
		6 item(s) total
	</div>
</div>