body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

div.top-half {
	height: 50vh;
}

div.skills {
	height: 10vh;
}

div.bottom-half {
	height: 40vh;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}