.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
	margin-top: 0px;
	padding-bottom: 2.5em;
	height: 100%;
}