<div class="container-fluid">
  <!--Game Components-->
  <div class="row top-half">
    <!--Graphs or Character Sheet-->
    <div class="col bg-primary">
      Character Sheet
    </div>
    <!--Live View-->
    <div class="col bg-warning">
      Live View
    </div>
  </div>
  <div class="row skills">
    <!--Skills-->
    <div class="col bg-success">
      Skills
    </div>
  </div>
  <div class="row bottom-half">
    <!--Inventory-->
    <div class="col-sm-10 bg-secondary">
      Inventory
    </div>
    <!--Menu-->
    <div class="col-sm-2 bg-info">
      Menu
    </div>
  </div>
</div>