<div class="container-fluid">
  <!--Game Components-->
  <div class="row top-half no-gutters">
    <!--Graphs or Character Sheet-->
    <div class="col bg-primary">
      <app-character-sheet></app-character-sheet>
    </div>
    <!--Live View-->
    <div class="col bg-warning">
      Live View
    </div>
  </div>
  <div class="row skills no-gutters">
    <!--Skills-->
    <div class="col bg-success">
      Skills
    </div>
  </div>
  <div class="row bottom-half no-gutters">
    <!--Inventory-->
    <div class="col-sm-10">
      <app-inventory></app-inventory>
    </div>
    <!--Menu-->
    <div class="col-sm-2 bg-info">
      Menu
    </div>
  </div>
</div>