<div class="row">
	<div class="col">
		<label>Head</label>
		<div class="slot" droppable [dropScope]="'head'" (onDrop)="onItemDrop('head',$event)">
	 	  <img *ngIf="slots['head']" draggable [dragData]="slots['head']" src="{{slots['head'].img_id}}" />
		</div>
	</div>
	<div class="col">
		<label>Body</label>
		<div class="slot" droppable [dropScope]="'body'" (onDrop)="onItemDrop('body',$event)">
	 	  <img *ngIf="slots['body']" draggable [dragData]="slots['body']" src="{{slots['body'].img_id}}" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
	Head: <span *ngIf="slots['head']">{{slots['head'].name}}</span>
    </div>
</div>